
body {

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(0, 67, 76, 1) 0%, rgba(27, 36, 83, 1) 100%);

}

.header {
    
    padding-top: 50px;
    padding-left: 80px;
    font-family: 'Bebas Neue';
    color: whitesmoke;
    letter-spacing: 3px;
    
}

.paragraph {
    display: grid;
    padding-left: 80px;
    width: 500px;
    font-family: 'Montserrat';
    font-weight: 400;
    z-index: 0;
    position: relative;
    color: #b9b9b9;
}

section div:first-of-type {
    position: absolute;
}

main {
    display: grid;
    justify-items: center;
}


.button-container{
    display: flex;
    justify-content: center;
}

button {
    position: relative;
    top: 520px;
    padding: 10px 50px;
    margin-bottom: 50px;
    font-size: 20px;
    color: #c5c5c7;
    border: none;
    border-radius: 15px;
    font-family: 'Bebas Neue';
    font-size: 18px;
    font-weight: 600;
    background-color: #092447;
    transition: 0.5s;
    z-index: 1;
}

 button:hover {
    background-color: rgb(3, 71, 88);
    cursor: pointer;
}
